header {
  margin-top: 15px;
  margin-left: 15px;
  ;
}

.step {
  display: none;
  animation: animate .5s;
  transform-origin: right
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.current-step {
  display: block;
}


section {
  gap: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 97%;

}

@media screen and (max-width:1200px) {
  section {
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 97%;
  }
}

.section::after {
  content: "";
  flex: auto;
}

.align-center {
  justify-content: center;
}

.selected {
  background-color: #3d3b3b;
  border: 1px solid #3d3b3b;
  color: #fff;
  width: 140px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: auto;
  /* margin-right: 10px; */
  cursor: pointer
}

.genre-div {
  display: flex;
  position: relative;
}

.genre-button {
  gap: 8px;
  background-color: #fff;
  border: 1px solid black;
  color: #000;
  width: 140px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: auto;
}

.genre-button:hover {
  /* background-color: #3d3b3b; */
  cursor: pointer;
  /* color: white; */
  border: 1px solid #3d3b3b;
}

.nav-div {
  display: flex;
  margin-bottom: 20px;
  justify-content: right;
  margin-right: 20px;
  gap: 10px
}

.nav-button {
  background-color: #fff;
  border: 1px solid #000;
  /* color: #000; */
  padding: 7px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #3d3b3b;
  /* color: white; */
  /* border: 1px border #3d3b3b; */
}

.input-genre {
  width: 100%;
  height: 20px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

.input-date {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  position: relative;
}

.less-width {
  display: grid;
}

.checkbox {
  width: 40px;
  height: 25px;
  border-radius: 4px;
  margin: -5px;
}

.subgenre-checkbox-div {
  display: flex;
  gap: 6px;
  justify-content: left;
  position: relative;
  width: 100%;
}

.subgenre-checkbox-div span {
  margin-bottom: 5px;
}

label {
  text-align: left;
  width: 237px;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

select>option {
  width: 97%;
  height: 30px;
}

textarea {
  width: 100%;
}

.edit {
  display: flex;
  width: 100%
}

.edit-input {
  display: flex;
  width: 100%;
  gap: 15px;
}

.input-edit {
  width: 200px;
  height: 18px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

.edit-lang {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

.input-pages {
  width: 130px;
  height: 18px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

.format {
  width: 220px;
  height: 37px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 1.5rem
}

.correct-symbol {
  width: 100%;
}

.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50px;
  justify-content: center;
  left: 110px;
  bottom: 50px;
}

.checkmark_stem {
  position: absolute;
  width: 5px;
  height: 50px;
  background-color: #fff;
  left: 160px;
  bottom: 80px;
}

.checkmark_kick {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: #fff;
  left: 150px;
  bottom: 72.5px;
}

section p {
  margin-top: 7rem;
  text-align: center;
}

.add-another-book {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #3d3b3b;
  margin-top: 2rem;
  background-color: #3d3b3b;
  color: white;
}

.add-another-book:hover {
  border: 1px solid #000;
  background-color: #000;
  color: white;
  cursor: pointer;
}